.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slot {
  padding: 20px;
  background-color: lightgray;
  margin: 10px;
  flex-basis: 20%;
}

img {
  max-width: 100%;
}

.slot div {
  margin-top: 5px;
}